@import "../includes";

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cookbook-search {
  background: #000;
  border: 0;
  font: inherit;
  padding: .25rem 1rem;
  color: #fff;
  box-shadow: $shadow;
  margin-bottom: 1.5rem;
  flex-basis: 100%;

  @include mq(from m) {
    flex-basis: calc(66.66% - 1rem);
  }
}
.cookbook-search:focus {
  color: $color-syntax-yellow;
}

/* -------------------------------------------------------------------------- */
.cookbook-articles .h5 {
  position: relative;
  display: block;
  padding-bottom: .4rem;
  margin-bottom: .4rem;

  &:after {
    position: absolute;
    bottom: -.125rem;
    left: 0;
    content: "";
    height: 2px;
    background: $color-light-gray;
    width: 4rem;
  }
}

.cookbook-categories {
  margin-bottom: 2rem;
}

.cookbook-categories li {
  display: inline;
  cursor: pointer;
  user-select: none;

  &.current code {
    background: $color-anthracite;
    color: $color-white;
  }
}

.cookbook-category {
  margin-top: .5rem;
  font-size: .8rem;
}

.cookbook-new {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: $color-syntax-yellow;
}
